
<html xmlns=http://www.w3.org/1999/xhtml>
<head>
  <title>Jonne Sälevä</title>
  <style type=text/css>code{white-space: pre;}</style>
  <link rel=stylesheet href=../static/css/style.css type=text/css />
  <script src=https://polyfill.io/v3/polyfill.min.js?features=es6></script>
  <script id=MathJax-script async src=https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js></script>
</head>

<body>
    <div id="topheader">
        <h1>{{post_title}}</h1>
    </div> 
    <thead> 
        <tr> 
            <td><a href="/">Home</a> </td> 
            <td><a href="/research">Research</a></td>
            <td> <a href="/portfolio">Portfolio</a></td> 
            <td> <a href="/resume">Resume</a></td> 
        </tr> 
    </thead> 
    <hr /> 
    <div id="container"> 
        {{post_content | safe}}
    </div> 
    <hr /> 
    <tfoot> 
        <tr> 
            <td> © Jonne Sälevä, 2020 </td> 
        </tr> 
    </tfoot>
</body>
</html>

